@model PNT1_TP_Cine.Models.Usuario

@{
    ViewData["Title"] = "Registrarse";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 bg-dark p-4 rounded shadow-sm mt-5">
            <h2 class="mb-4 text-white text-center">Registro de Usuario</h2>

            @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

            <form asp-action="Register" method="post">
                <div class="form-group mb-3">
                    <label asp-for="Nombre"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Apellido"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Contrasena"></label>
                    <input asp-for="Contrasena" type="password" class="form-control" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Registrarse</button>
            </form>
        </div>
    </div>
</div>
