<section class="container py-5 mt-5 text-white text-center">
    <h2 class="mb-4 text-uppercase fw-bold">🎉 ¡Compra exitosa!</h2>
    <p class="fs-5">Tu ticket fue generado correctamente.</p>


    <a href="@Url.Action("Comprobante", "Ticket", new { id = ViewBag.TicketId ?? 0 })"
       class="btn btn-outline-light text-uppercase fw-bold mt-3">Ver comprobante</a>
    <a href="@Url.Action("Index", "Home")"
       class="btn btn-primary text-uppercase fw-bold mt-3 ms-3">Volver al inicio</a>



</section>
