@{
    ViewData["Title"] = "Nosotros";
}

<section id="home" class="container min-vh-100 d-flex flex-column align-items-center text-white justify-content-start w-100 mt-md-5 mt-5 pt-5 ">
    <div class="text-center mb-5">
        <h2 class="display-5 fw-bold">Sobre Nosotros</h2>
        <p class="lead text-secondary">Pasión por el cine. Compromiso con tu experiencia.</p>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <img src="https://hips.hearstapps.com/hmg-prod/images/the-omnia-path-cinema-boulevard-montmartre-in-paris-in-news-photo-1610078512." alt="Cine" class="img-fluid rounded-4 shadow" />
        </div>
        <div class="col-md-6">
            <h3 class="fw-bold mb-3">¿Quiénes somos?</h3>
            <p>
                Somos <strong>ATENEO</strong>, un proyecto impulsado por amantes del cine que buscan ofrecer una experiencia diferente,
                cercana y de calidad. Desde nuestros comienzos, nos propusimos crear un espacio donde cada función sea un momento único,
                donde se disfrute no solo la película, sino todo lo que la rodea.
            </p>
            <p>
                Nos inspira la emoción de una buena historia, el silencio en una sala a oscuras y los aplausos al final de una función.
            </p>
        </div>
    </div>

  
</section>
